# Data Science Tools and Ecosystem

In this Notebook , Data Science Tools and Ecosystem are summarized

**objectives:**
   -  Python,R,Julia
   -  Pandas, Pytorch
   -  Apache CouchDB
   -  Apache Airflow
   -  write arithmetic expression

## Author
   Swatik Sai Swagat Kar

some of the languages that data scientists use:

 1. Python
 2. R
 3. Julia
 4. Scala

some of the commonly used libraries used by data scientists include:

 1. Pandas
 2. Pytorch
 3. TensorFlow
 4. scikit learn

| Data Science Tools |
|--------------------|
|MySQL|
|Apache CouchDB|
|Apache Airflow|

### Below are some few examples of evaluating arithmetic expression

In [2]:
# this is a simple arithmetic expression to multiply and then add integers.
(3*4)+5

17

In [3]:
# this will convert 200 minutes to hours by dividing by 60.

200/60

3.3333333333333335